<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0" />
  <title>Examination Attendance System</title>

  <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
  <script type="text/javascript" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>
  <div th:replace="fragments/header :: header"></div>

  <div class="container-fluid" style="max-width: 900px; margin: 0 auto;">
    <h2 class="text-center">List of Attendees</h2>

    <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
      role="alert">
      [[${message}]]
      <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

   

    <div th:if="${attendances.size() > 0}">
      <table class="table table-hover table-responsive-xl">
        <thead class="thead-light">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Student Name</th>
            <th scope="col">Matric No</th>
            <th scope="col">Attend time</th>
            <th scope="col">Device Type</th>
            <th scope="col">Subject Name</th>
            <th scope="col">Invigilator</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="attendance : ${attendances}">
            <th scope="row">[[${attendance.attendanceId}]]</th>
            <td>[[${attendance.student.studentName}]]</td>
            <td>[[${attendance.student.matricNo}]]</td>
            <td th:text="${#temporals.format(attendance.attendanceDateTime, 'dd-MM-yyyy HH:mm')}"></td>
             <td>[[${attendance.deviceType}]]</td>
             <td>[[${attendance.examination.subject.SubjectName}]]</td>
             <td>[[${attendance.examination.staff.staffName}]]</td>
            <td>                

            </td> 
          </tr>
        </tbody>
      </table>
    </div>
    
    

    <div class="" th:unless="${attendances.size() > 0}">
      <span>No record found!</span>
    </div>
  </div>

  
        <div class="modal-body">
          <span id="confirmText"></span>
        </div>

        
      </div>
    </div>
  </div>

  <div th:replace="fragments/footer :: footer"></div>

  <script type="text/javascript">
    $(document).ready(function () {
      $(".btn-delete").on("click", function (e) {
        e.preventDefault();
        link = $(this);

        examId = link.attr("examId");
        $("#yesBtn").attr("href", link.attr("href"));
        $("#confirmText").html("Do you want to delete the  \<strong\>" + examId + "\<\/strong\>?");
        $("#confirmModal").modal();
      });

      $("#btnClear").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = "[[@{/attendance/list}]]";
      });
    });
  </script>

</body>

</html>
